.container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    align-items: center;
}

.postContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}